<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/stylesheets/global.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/index.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <div id="background"></div>

  <!-- Nav Bar -->
  <div id="nav-bar">
    <div class="upper-part">
      <img class="logo" src="images/logo.png" alt="favicon" />

      <div class="center-part">
        <div class="search-bar">
          <i class="nf nf-seti-search"></i>
          <textarea rows="1" placeholder="search..."></textarea>
        </div>
        <div class="nav-links">
          <a href="/">Home</a>
          <a class="category-dropdown">Categrories <i class="nf nf-oct-chevron_down"></i></a>
          <a>Linking Link</a>
        </div>
      </div>

      <div class="icon-part">
        <a href="/register" class="nf nf-fa-user_circle"></a>
        <a href="/cart" class="nf nf-md-cart_outline"></a>
        <button class="nav-toggle nf nf-md-menu" role="button" onclick="navToggle()"></button>
      </div>
    </div>

    <div class="sub-links">
      <a href="/shop/headphone">Headphones</a>
      <a href="/shop/monitors">Monitors</a>
      <a href="/shop/chairs">Chairs</a>
      <a href="/shop/controllers">Controllers</a>
      <a href="/shop/cooling-pads">Cooling Pads</a>
      <a href="/shop/mouses">Mouses</a>
    </div>

    <div class="pop-part">
      <div class="pop-search-bar search-bar">
        <i class="nf nf-seti-search"></i>
        <textarea rows="1" placeholder="search..."></textarea>
      </div>
      <div class="pop-nav-links">
        <a href="/">Home</a>
        <a class="category-dropdown">Categrories <i class="nf nf-oct-chevron_down"></i></a>
        <div class="pop-sub-links">
          <a href="/shop/headphone">Headphones</a>
          <a href="/shop/monitors">Monitors</a>
          <a href="/shop/chairs">Chairs</a>
          <a href="/shop/controllers">Controllers</a>
          <a href="/shop/cooling-pads">Cooling Pads</a>
          <a href="/shop/mouses">Mouses</a>
        </div>
        <a>Linking Link</a>
      </div>
    </div>
  </div>

  <!-- Main Home content begins -->
  <main>
    <!-- Hero section -->
    <div id="hero-container">
      <div class="text-section">
        <h1 class="heading">
          Get <span>Best Devices</span> With lowest prices.
        </h1>
        <p class="paragraph">
          Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
          cillum sint consectetur cupidatat.
        </p>
        <a class="btn-1 btn-darken">Explore More</a>
        <a class="btn-2 btn-darken" href="/shop">All Products</a>
      </div>
      <div class="image-section">
        <img src="images/index/hero-image.png" alt="hero-image" />
      </div>
    </div>

    <!-- Self Promotion Section -->
    <div id="banner-head">
      <h2 class="heading btn-highlight">Enjoy Best Service With Us :)</h2>
      <div class="bg-line"></div>
    </div>
    <div id="self-promotion">
      <div class="grid">
        <div class="item">
          <i class="nf nf-fa-rupee"></i>
          <p>
            Super Fast<br />
            delivery
          </p>
        </div>
        <div class="item">
          <i class="nf nf-fa-rupee"></i>
          <p>
            Super Fast<br />
            delivery
          </p>
        </div>
        <div class="item">
          <i class="nf nf-fa-rupee"></i>
          <p>
            Super Fast<br />
            delivery
          </p>
        </div>
        <div class="item">
          <i class="nf nf-fa-rupee"></i>
          <p>
            Super Fast<br />
            delivery
          </p>
        </div>
      </div>
    </div>

    <!-- Category Section -->
    <h1 class="category-section-heading">Categories</h1>
    <div id="category-section">
      <div class="item item-1">
        <p>Headphone</p>
      </div>
      <div class="item item-2">
        <p>Headphone</p>
      </div>
      <div class="item item-3">
        <p>Headphone</p>
      </div>
      <div class="item item-4">
        <p>Headphone</p>
      </div>
      <div class="item item-5">
        <p>Headphone</p>
      </div>
      <div class="item item-6">
        <p>Headphone</p>
      </div>
    </div>

    <!-- Featured Section -->
    <h1 class="featured-section-heading">Highlight-Worthy Releases</h1>
    <div id="featured-section">
      <div class="blank-item-container">
        <div class="item">
          <img src="/images/cat.jpg" alt="cat" />
          <h3 class="title">
            Product name which is very big i dont know why
          </h3>
          <div class="price"><i class="nf nf-fa-rupee"></i>200.00</div>
          <div class="btn-part">
            <button class="add-btn btn-highlight">Add to cart</button>
            <button class="link-btn nf nf-fa-external_link btn-highlight"></button>
          </div>
        </div>
      </div>
      <div class="blank-item-container">
        <div class="item">
          <img src="/images/cat.jpg" alt="cat" />
          <h3 class="title">
            Product name which is very big i dont know why
          </h3>
          <div class="price"><i class="nf nf-fa-rupee"></i>200.00</div>
          <div class="btn-part">
            <button class="add-btn btn-highlight">Add to cart</button>
            <button class="link-btn nf nf-fa-external_link btn-highlight"></button>
          </div>
        </div>
      </div>
      <div class="blank-item-container">
        <div class="item">
          <img src="/images/cat.jpg" alt="cat" />
          <h3 class="title">
            Product name which is very big i dont know why
          </h3>
          <div class="price"><i class="nf nf-fa-rupee"></i>200.00</div>
          <div class="btn-part">
            <button class="add-btn btn-highlight">Add to cart</button>
            <button class="link-btn nf nf-fa-external_link btn-highlight"></button>
          </div>
        </div>
      </div>
      <div class="blank-item-container">
        <div class="item">
          <img src="/images/cat.jpg" alt="cat" />
          <h3 class="title">
            Product name which is very big i dont know why
          </h3>
          <div class="price"><i class="nf nf-fa-rupee"></i>200.00</div>
          <div class="btn-part">
            <button class="add-btn btn-highlight">Add to cart</button>
            <button class="link-btn nf nf-fa-external_link btn-highlight"></button>
          </div>
        </div>
      </div>
      <div class="blank-item-container">
        <div class="item">
          <img src="/images/cat.jpg" alt="cat" />
          <h3 class="title">
            Product name which is very big i dont know why
          </h3>
          <div class="price"><i class="nf nf-fa-rupee"></i>200.00</div>
          <div class="btn-part">
            <button class="add-btn btn-highlight">Add to cart</button>
            <button class="link-btn nf nf-fa-external_link btn-highlight"></button>
          </div>
        </div>
      </div>
      <div class="blank-item-container">
        <div class="item">
          <img src="/images/cat.jpg" alt="cat" />
          <h3 class="title">
            Product name which is very big i dont know why
          </h3>
          <div class="price"><i class="nf nf-fa-rupee"></i>200.00</div>
          <div class="btn-part">
            <button class="add-btn btn-highlight">Add to cart</button>
            <button class="link-btn nf nf-fa-external_link btn-highlight"></button>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <!-- Subscribe Section -->
    <div id="subscribe-section">
      <h1>Excited for more?</h1>
      <p>
        Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
        cillum sint consectetur cupidatat.
      </p>
      <div class="form">
        <textarea rows="1" placeholder="Enter your email address"></textarea>
        <button class="btn-highlight" type="button">Subscribe</button>
      </div>
    </div>
  </main>

  <!-- Footer section -->
  <footer>
    <div class="upper-triangle-shadow"></div>
    <div class="upper-triangle"></div>
    <div class="footer-content">
      <div class="footer-col">
        <h4 id="com">Company</h4>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Our services</a></li>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Affiliate program</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4 id="gh">Get Help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Shipping</a></li>
          <li><a href="#">Returns</a></li>
          <li><a href="#">Order status</a></li>
          <li><a href="#">Payment Options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4 id="os">Online Shop</h4>
        <ul>
          <li><a href="#">Monitors</a></li>
          <li><a href="#">Keyboards</a></li>
          <li><a href="#">Mouse</a></li>
          <li><a href="#">Headsets</a></li>
        </ul>
      </div>
      <div class="footer-col ">
        <h4 id="foot">Follow us</h4>
        <div class="social-links">
          <a href="#"><i class="nf nf-fa-facebook_official"></i></a>
          <a href="#"><i class="nf nf-fa-twitter"></i></a>
          <a href="#"><i class="nf nf-md-instagram"></i></a>
          <a href="#"><i class="nf nf-md-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- Back to Top -->
  <button id="back-to-top" class="nf nf-fa-chevron_up btn-darken" onclick="backToTop()"></button>

  <script src="/jquery/jquery.js"></script>
  <script src="/scripts/global.js"></script>
  <script src="/reload/reload.js"></script>
</body>

</html>
