<!doctype html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/stylesheets/global.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/index.css" type="text/css" rel="stylesheet" />
</head>

  <!-- Background -->
  <div id="background"></div>

  <!-- Nav Bar -->
  <div id="nav-bar">
    <div>
      <img id="nav-logo" src="images/logo.png" alt="favicon" />
      <div id="search-bar"><i class="nf nf-seti-search"></i>
        <textarea rows="1" cols="10" placeholder="search..."></textarea>
      </div>
    </div>
    <button id="nav-toggle" role="button" onclick="navToggle()">
      <i class="nf nf-md-menu"></i>
    </button>
    <div id="nav-link">
      <a>Home</a>
      <a>Home</a>
      <a>Home</a>
      <a>Hello</a>
    </div>
  </div>

  <!-- Main Home content begins -->
  <main>
    <div id="hero-container">
      Welcome
    </div>

    <div id="category-grid">
      <div class="item-1"></div>
      <div class="item-2"></div>
      <div class="item-3"></div>
      <div class="item-4"></div>
      <div class="item-5"></div>
      <div class="item-6"></div>
    </div>
    <div id='service-grid'>
      <div class="item-1 grid-item"><i class="nf nf-md-cart"></i>
        <div>
          <h3>Free Shipping</h3><span>Free Shipping On all Order</span>
        </div>
      </div>
      <div class="item-2 grid-item"><i class="nf nf-md-cart"></i>
        <div>
          <h3>Free Shipping</h3><span>Free Shipping On all Order</span>
        </div>
      </div>
      <div class="item-3 grid-item"><i class="nf nf-md-cart"></i>
        <div>
          <h3>Free Shipping</h3><span>Free Shipping On all Order</span>
        </div>
      </div>
      <div class="item-4 grid-item"><i class="nf nf-md-cart"></i>
        <div>
          <h3>Free Shipping</h3><span>Free Shipping On all Order</span>
        </div>
      </div>
    </div>
  </main>

  <script src="/scripts/global.js"></script>
  <script src="/reload/reload.js"></script>
  </body>
</html>
