<!Doctype html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/stylesheets/global.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/sign.css" type="text/css" rel="stylesheet" />
</head>

<body style=" background: radial-gradient( circle at 20vw 50%, var(--bg-gradient), #0c0c0c, transparent 45vw), black;">
  <div id="background"></div>
  <div class="outer-sign-page" style="flex-direction:row-reverse;">
    <div class="sign-up-details">

      <img src="/images/backgrounds/signin.jpg" class="signimg">

    </div>
    <div class="sign-up-info">
      <div class="info">
        <h2>Sign in to get to get your cart full!!</h2>
        <form class="login" action="/login" method="post">
          <div class="login__field">

            <input type="text" class="login__input" name="userName" placeholder="User name / Email">
          </div>
          <div class="login__field">

            <input type="password" class="login__input" name="password" placeholder="Password">
          </div>
          <div class="login__field">

            <input type="email" class="login__input" name="email" placeholder="Email">
          </div>

          <button class="button login__submit" type="submit">
            <span>Sign In</span>
          </button>
        </form>
        <div class="social-login">
          <div>
            <p>log in via</p>
            <div class="social-icons">
              <i class="nf nf-fa-google_plus_circle"></i>
              <i class="nf nf-md-facebook"></i>
              <i class="nf nf-md-twitter"></i>
            </div>
          </div>
        </div>
        <div class="bottom-info">
          <p>Don't have an account?</p>
          <a href="">
            <p>Sign up</p>
          </a>
        </div>
      </div>

    </div>

  </div>
  <div>
    <p>
      <%= locals.message %>
    </p>
  </div>
  <!-- <script src="/scripts/global.js"></script>
  <script src="/reload/reload.js"></script> -->
  <script src="/productApi.js"></script>
</body>

</html>
