<!doctype html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/stylesheets/global.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/products.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <!-- Back to Top -->
  <button id="back-to-top" class="nf nf-fa-chevron_up" onclick="backToTop()"></button>

  <!-- Nav Bar -->
  <div id="nav-bar">
    <img id="nav-logo" src="images/logo.png" alt="favicon" />
    <div id="search-bar"><i class="nf nf-seti-search"></i>
      <textarea rows="1" placeholder="search..."></textarea>
    </div>
    <button id="nav-toggle" role="button" onclick="navToggle()">
      <i class="nf nf-md-menu"></i>
    </button>
    <div id="nav-link">
      <a href='/'>Home</a>
      <a href="/product">Products</a>
      <a>Home</a>
      <a>Hello</a>
    </div>
  </div>

  <!-- Main content begins -->
  <main>
    <!-- Breadcrums -->
    <span id="breadcrum">Home > Products</span>

    <!-- Heding -->
    <h1 id="page-heading">Products</h1>

    <!-- Filter Sort Buttons -->
    <div id="setting-bar">
      <button>
        <i class="nf nf-fa-filter"></i>
        <span>Filter by</span>
        <i class="nf nf-md-chevron_down"></i>
        <span>3</span>
      </button>
      <button>
        <i class="nf nf-md-sort_bool_ascending"></i>
        <span><b>Sort by:</b> </span>
        <span>Popularity</span>
        <i class="nf nf-md-chevron_down"></i>
      </button>
    </div>

    <!-- Products Grid -->
    <div id="product-grid">
      <div class="item">
        <img id="nav-logo" src="images/cat.jpg" alt="product" />
        <div class="right-container">
          <div class="detail">Details</div>
          <button>Add to Cart</button>
        </div>
      </div>
      <div class="item">
        <img id="nav-logo" src="images/cat.jpg" alt="product" />
        <div class="right-container">
          <div class="detail">Details</div>
          <button>Add to Cart</button>
        </div>
      </div>
      <div class="item">
        <img id="nav-logo" src="images/cat.jpg" alt="product" />
        <div class="right-container">
          <div class="detail">Details</div>
          <button>Add to Cart</button>
        </div>
      </div>
      <div class="item">
        <img id="nav-logo" src="images/cat.jpg" alt="product" />
        <div class="right-container">
          <div class="detail">Details</div>
          <button>Add to Cart</button>
        </div>
      </div>
      <div class="item">
        <img id="nav-logo" src="images/cat.jpg" alt="product" />
        <div class="right-container">
          <div class="detail">Details</div>
          <button>Add to Cart</button>
        </div>
      </div>
      <div class="item">
        <img id="nav-logo" src="images/cat.jpg" alt="product" />
        <div class="right-container">
          <div class="detail">Details</div>
          <button>Add to Cart</button>
        </div>
      </div>
      <div class="item">
        <img id="nav-logo" src="images/cat.jpg" alt="product" />
        <div class="right-container">
          <div class="detail">Details</div>
          <button>Add to Cart</button>
        </div>
      </div>
      <div class="item">
        <img id="nav-logo" src="images/cat.jpg" alt="product" />
        <div class="right-container">
          <div class="detail">Details</div>
          <button>Add to Cart</button>
        </div>
      </div>
      <div class="item">
        <img id="nav-logo" src="images/cat.jpg" alt="product" />
        <div class="right-container">
          <div class="detail">Details</div>
          <button>Add to Cart</button>
        </div>
      </div>
      <div class="item">
        <img id="nav-logo" src="images/cat.jpg" alt="product" />
        <div class="right-container">
          <div class="detail">Details</div>
          <button>Add to Cart</button>
        </div>
      </div>
    </div>
  </main>
  <script src="/scripts/global.js"></script>
  <script src="/reload/reload.js"></script>
</body>

</html>
