@import 'https://www.nerdfonts.com/assets/css/webfont.css';

/* Variables */
:root {
    --background: rgb(24, 26, 27);
    --foreground: rgb(116, 243, 243);
    --text: rgb(165, 191, 211);
    --subtle: #008a7a;
}

/* My CSS Reset */

/* Because it makes sense */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Lets me take control */
* {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    vertical-align: baseline;
}

/* Responsive imgs */
img {
    display: block;
    max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
    font: inherit;
}

/* Some Element resets */
textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
    color: var(--text);
}

/* Project Globals */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    color: var(--text);
    background-image: radial-gradient(
        circle at 50vw 130vh,
        #28235c,
        #040912,
        #0c0b1e
    );
    line-height: calc(1em + 0.2rem);
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem 0;
    font-weight: 500;
    line-height: 1.2;
    overflow-wrap: break-word;
}
p {
    font-size: 20px;
    letter-spacing: initial;
    line-height: 28px;
    overflow-wrap: break-word;
}

/* Global Elements */

.btn-darken {
    background-color: var(--background);
    border: 2px solid var(--foreground);
    color: var(--text);
}
.btn-highlight {
    background-color: var(--foreground);
    border: none;
    color: var(--background);
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--text);
}
a:hover {
    cursor: pointer;
    color: var(--foreground);
}

hr {
    padding: 1rem 0;
    border: none;
}

#background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image: url('/images/background.jpg');
    mix-blend-mode: overlay;
    opacity: 0.3;
    background-size: cover;
    z-index: -1;
}

#nav-bar {
    height: 70px;
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
    padding: 0 50px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    border-bottom: 1px solid var(--subtle);
    z-index: 2;
}
#nav-logo {
    height: 13px;
}
#search-bar {
    grid-column: 2/7;
    width: 250px;
    margin-left: 15px;
    padding: 5px 10px;
    border: 2px solid var(--subtle);
    border-radius: 20px;
}
#search-bar i {
    font-size: 0.8rem;
    position: relative;
    top: -3px;
    left: 2px;
}
#search-bar textarea {
    width: 80%;
    margin-left: 5px;
}
#nav-link {
    grid-column: 8/-1;
    display: flex;
    justify-content: space-between;
}
#nav-link .active {
    color: var(--foreground);
}
#nav-toggle {
    display: none;
}

main {
    margin: 0 50px;
}

footer {
    width: 100%;
    position: relative;
    margin-top: 2rem;
}
footer .upper-triangle,
footer .upper-triangle-shadow {
    height: 5vw;
    width: 100vw;
    background-color: var(--background);
    clip-path: polygon(0 100%, 50% 0, 100% 100%, 0 100%);
}
footer .upper-triangle-shadow {
    background-color: var(--foreground);
    position: absolute;
    top: -2px;
}
footer .footer-content {
    height: 200px;
    width: 100%;
    background-color: var(--background);
}

#back-to-top {
    display: none;
    font-size: 8px;
    position: fixed;
    border-radius: 50%;
    padding: 0.5rem 0.5rem 0.6rem 0.5rem;
    bottom: 1.5rem;
    right: 2rem;
}
#back-to-top:hover {
    color: var(--background);
    background-color: var(--foreground);
    border: none;
}

/* Tablet */
@media only screen and (max-width: 768px) {
    p {
        font-size: 16px;
        line-height: 19px;
    }

    main {
        margin: 0 35px;
    }

    #nav-bar {
        padding-top: 10px;
        height: 100px;
    }
    #search-bar {
        margin: 0 auto;
        grid-column: 1/-1;
        grid-row-start: 2;
        width: 70%;
    }
    #nav-bar #nav-link {
        grid-column: 5/-1;
    }
}

/* Mobile */
@media only screen and (max-width: 480px) {
    p {
        font-size: 20px;
        line-height: 28px;
    }

    main {
        margin: 0 20px;
    }

    #nav-bar {
        height: 50px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
    }
    #search-bar {
        display: none;
        z-index: 1;
        position: fixed;
        left: 10px;
        top: 20px;
        width: 50vw;
    }
    #nav-toggle {
        display: block;
        border: none;
        background: none;
        z-index: 2;
    }
    #nav-link {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        padding-top: 50px;
        background-image: radial-gradient(
            circle at 30vw 70vh,
            #28235c,
            #040912,
            #0c0b1e
        );
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #nav-link a {
        font-size: 24px;
    }
}
