body {
  background: radial-gradient(
      circle at 24vw 16%,
      var(--bg-gradient),
      #0c0c0c,
      transparent 45vw
    ),
    radial-gradient(
      circle at 55vw 35%,
      var(--bg-gradient),
      #0c0c0c,
      transparent 30vw
    ),
    radial-gradient(
      circle at 45vw 58%,
      var(--bg-gradient),
      #0c0c0c,
      transparent 40vw
    ),
    radial-gradient(
      circle at 45vw 90%,
      var(--bg-gradient),
      #0c0c0c,
      transparent 40vw
    ),
    black;
}
#hero-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  height: calc(100vh - 90px);
}

#hero-container .text-section {
  width: 50%;
}
#hero-container .image-section {
  width: 50%;
  display: flex;
  justify-content: center;
}
#hero-container .heading {
  color: var(--text);
}
#hero-container .heading span {
  color: var(--foreground);
}
#hero-container .paragraph {
  margin-bottom: 30px;
}
#hero-container .btn-1,
#hero-container .btn-2 {
  padding: 10px 20px;
  border-radius: 30px;
  margin-right: 20px;
  font-weight: bold;
  font-size: 90%;
  max-width: 200px;
  white-space: nowrap;
}
#hero-container img {
  width: 80%;
}

#self-promotion .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
#self-promotion .grid .item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  border-left: 4px solid var(--foreground);
}
#self-promotion i {
  font-size: 200%;
}
#self-promotion p {
  color: var(--foreground);
  text-align: center;
  font-weight: 500;
  margin: 0;
}
#self-promotion .grid .item:first-child {
  border: none;
}

.category-section-heading {
  text-align: center;
  color: var(--foreground);
}
#category-section {
  display: grid;
  grid-template-areas:
    "a a d d"
    "a a e e"
    "b c c f";
  grid-template-columns: 23% 35% 15% 23%;
  grid-template-rows: 13vw 13vw 15vw;
  gap: 15px;
  margin: 0 0 3rem 0;
}
#category-section .item {
  border-radius: 5px;
  background-color: var(--background);
  overflow: hidden;
}
#category-section p {
  display: none;
}
#category-section .item:hover p {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
#category-section .item {
  background-image: url("/images/cat.jpg");
  background-size: cover;
}
#category-section .item-1 {
  grid-area: a;
}
#category-section .item-2 {
  grid-area: b;
}
#category-section .item-3 {
  grid-area: c;
}
#category-section .item-4 {
  grid-area: d;
}
#category-section .item-5 {
  grid-area: e;
}
#category-section .item-6 {
  grid-area: f;
}

.featured-section-heading {
  text-align: center;
  color: var(--foreground);
}
#featured-section {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(5, 1fr);
}
#featured-section .blank-item-container {
  overflow: hidden;
  height: 25vw;
}
@media only screen and (min-width: 900px) {
  #featured-section .blank-item-container:last-child {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  #featured-section .blank-item-container {
    height: 47vw;
  }
  #featured-section {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
#featured-section .item {
  padding: 10px;
  background-color: rgba(26, 26, 26, 0.4);
  border-radius: 15px;
}
#featured-section .item:hover {
  border: 2px solid var(--foreground);
}
#featured-section img {
  width: 100%;
  aspect-ratio: 0.8;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s;
}
#featured-section .item:hover img {
  aspect-ratio: 1;
}
#featured-section .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 10px;
}
#featured-section .price {
  margin: 5px 10px;
}
#featured-section .price i {
  font-size: 12px;
}
#featured-section .btn-part {
  display: none;
}
#featured-section .item:hover .btn-part {
  display: flex;
}
#featured-section .add-btn {
  border-radius: 5px 0 0 5px;
  width: calc(100% - 55px);
  height: 40px;
  margin: 0 10px;
}
#featured-section .link-btn {
  border-radius: 0 5px 5px 0;
  width: 30px;
  height: 40px;
  margin-right: 10px;
}

#subscribe-section {
  background-color: rgba(100, 100, 100, 0.3);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  border: solid 1px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  overflow: hidden;
}

#subscribe-section h1 {
  color: var(--text);
}
#subscribe-section p {
  margin: 5px 0 30px 0;
  font-size: 12px;
}
#subscribe-section .form {
  display: flex;
}
#subscribe-section textarea {
  padding: 15px 20px;
  background-color: rgba(200, 200, 200, 0.1);
  width: 30vw;
  margin-right: 20px;
  font-size: 16px;
  font-family: sans-serif;
  border-radius: 30px;
}
#subscribe-section button {
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 90%;
}

#banner-head .heading {
  width: 40%;
  height: 70px;
  display: grid;
  margin: 0 auto;
  place-items: center;
  text-align: center;
  border-radius: 10px;
}
#banner-head .bg-line {
  position: relative;
  left: -50px;
  top: -35px;
  z-index: -1;
  height: 15px;
  width: 120vw;
  background: linear-gradient(to right, var(--foreground), var(--background));
  opacity: 0.5;
}

/* Tablet */
@media only screen and (max-width: 768px) {
  #hero-container {
    height: auto;
  }

  #hero-container .btn-1,
  #hero-container .btn-2 {
    padding: 5px 10px;
    font-size: 70%;
    white-space: nowrap;
    margin: 0;
  }
  #hero-container img {
    width: 100%;
  }

  #banner-head .heading {
    width: 80%;
  }
  #self-promotion .grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
  #self-promotion .grid .item {
    border: none;
    padding: 20px 0;
    justify-content: center;
  }
  #self-promotion .grid i {
    margin-right: 20px;
  }
  #self-promotion .grid .item:first-child,
  #self-promotion .grid .item:nth-child(2) {
    border-bottom: 4px solid var(--foreground);
  }

  #category-section {
    display: grid;
    grid-template-areas:
      "a a a a a a"
      "b b b c c c"
      "d d e e f f";
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 33vh);
    gap: 15px;
    margin: 0 0 3rem 0;
  }

  #subscribe-section .form {
    display: block;
  }
  #subscribe-section textarea {
    display: block;
    width: 60vw;
    margin: 0;
  }
  #subscribe-section button {
    width: 50%;
    margin: 15px 25%;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  #hero-container {
    flex-direction: column-reverse;
    height: auto;
    margin-top: 30px;
  }
  #hero-container .image-section {
    width: 100%;
  }
  #hero-container .text-section {
    width: 100%;
  }
  #hero-container img {
    width: 90vw;
  }
  #hero-container .heading {
    text-align: center;
  }
  #hero-container .paragraph {
    font-size: 5vw;
    text-align: center;
  }
  #hero-container .btn-1 {
    margin: 0 0 0 10%;
  }
  #hero-container .btn-2 {
    float: right;
    position: relative;
    top: -50px;
    margin: 0 10% 0 0;
  }
  #hero-container .btn-2,
  #hero-container .btn-1 {
    padding: 0 10px;
    display: grid;
    place-items: center;
    width: 30%;
    height: 50px;
  }

  #self-promotion .grid i {
    margin-right: 5px;
  }
  #self-promotion .grid .item p {
    font-size: 16px;
    line-height: 19px;
  }

  #category-section {
    display: grid;
    grid-template-areas:
      "a a a a a a"
      "b b b c c c"
      "d d e e f f";
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 33vh);
    gap: 15px;
    margin: 0 0 3rem 0;
  }
  #featured-section .blank-item-container {
    height: 70vw;
  }
  #featured-section {
    grid-template-columns: repeat(2, 1fr);
  }

  #subscribe-section textarea {
    width: 70vw;
  }
}
