body {
  background: radial-gradient(
      circle at 20vw 50%,
      var(--bg-gradient),
      #0c0c0c,
      transparent 45vw
    ),
    black;
}
.outer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 150vh;
  width: 110%;
}
.img-background {
  background-color: var(--foreground);
  transform: skew(35deg);
  height: 100%;
  width: 150%;
  position: relative;
  left: 50%;
  top: 435px;
  overflow: visible;
  z-index: -2;
}
.product-name {
  margin-top: 12%;
  font-size: 200%;
  font-size: 200%;
  height: fit-content;
  line-height: 40px;
  font-size: 40px;
  margin-bottom: 25px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 2.5%;
}
.product {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

#price{
  text-align: left;
  margin-top: 25px;
}
#buy-box{
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  margin-top: 25px;
}
#buy{
  text-align: center;
  color: var(--bg-gradient);
  background-color: var(--foreground);
  width: 120%;
  margin-right: 40px;
  border-radius: 25px;
}
#cart{
  text-align: center;
  color: var(--foreground);
  background-color:none;
  width: 120%;
  margin-left: 40px;
  border-radius: 25px;
  border: solid var(--foreground) 1px;
}
#buy:hover{
  color: var(--foreground);
  background:none;
  border: solid 1px var(--foreground);
}
#cart:hover{
  color: var(--bg-gradient);
  background-color: var(--foreground);
}

/* Slideshow container */
.images{
  position: relative;
  top: -40%;
  overflow: visible;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin-top: -85%;
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  padding: 16px;
  color: white; 
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 110px;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 30px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) and (min-width: 480px){
  .outer-container{
    flex-direction: column-reverse;
    height: 300vh;
    margin: 0%;
    padding: 0%;
  }
  .slideshow-container {
    margin-top: -900px;
  }
  .product-name{
    position: relative;
    bottom: 60px;
    z-index: 100;
    overflow: visible;
    padding-right: 50px;
    height: fit-content;
  }
  .images{
    position: relative;
    top: -10px;
    margin: 0%;
    padding: 0%;
  }
  .img-background{
    position: relative;
    top: -6px;
    transform: skew(25deg);
  }
}
@media only screen and (max-width: 480px){

  .img-background{
    position: relative;
    top: -6px;
    transform: skew(55deg);
  }
}