#setting-bar {
    display: flex;
    justify-content: space-between;
}
#setting-bar button {
    background-color: lightgray;
    padding: 10px;
}

#product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#product-grid .item {
    margin: 1rem;
    display: flex;
    height: 100px;
}
#product-grid img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
#product-grid .detail {
    height: 85%;
}
#product-grid button {
    background-color: lightgray;
    padding: 5px;
}
