body {
  background: radial-gradient(
      circle at 80vw 50%,
      var(--bg-gradient),
      #0c0c0c,
      transparent 45vw
    ),
    black;
}
#background {
  top: 0;
}
h1 {
  color: black;
}
.outer-sign-page {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  margin: 5vh auto;
  max-width: 900px;
  border: 2px solid var(--foreground);
  overflow: hidden;
  box-shadow:
    0 0 5px var(--foreground),
    0 0 5px var(--foreground),
    0 0 5px var(--foreground),
    0 0 5px var(--foreground);
}
.sign-up-details {
  width: 50%;
  text-align: center;
}
.signimg {
  width: 100%;
  height: 100%;
  margin-top: 0%;
  z-index: -2;
}

.sign-up-info {
  width: 50%;
  background: rgba(100, 100, 100, 0.2);
  backdrop-filter: blur(6px);
  text-align: center;
}
.bottom-info {
  margin: 3vh auto;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.7vh auto;
  padding: 5%;
  width: 90%;
  margin: 0%;
}
.login {
  width: 320px;
  padding: 30px;
  text-align: left;
}

.login__field {
  padding: 10px 0px;
  position: relative;
  width: 120%;
}
input {
  color: var(--text);
}
.frgtpss {
  font-size: medium;
  position: relative;
  left: 52.5%;
  padding: 0%;
  margin: 0%;
  transition: all 0.2s;
}
.frgtpss:hover {
  color: var(--foreground);
}
.login__icon {
  position: absolute;
  top: 30px;
  color: #7875b5;
}

.login__input {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 80%;
  transition: 0.2s;
}
::placeholder {
  color: var(--text);
}
.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: var(--foreground);
}

.login__submit {
  background-color: var(--foreground);
  font-size: 14px;
  margin-top: 30px;
  padding: 10px 0px;
  border: 2px solid var(--background);
  border-radius: 26px;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--background);
  cursor: pointer;
  transition: 0.2s;
}

.login__submit:focus,
.login__submit:hover {
  border: 2px solid rgb(116, 243, 243);
  background: none;
  color: var(--foreground);
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
}

.social-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: center;
  gap: 13px;
  font-size: x-large;
}
.buton {
  position: relative;
  right: 90%;
  border-radius: 25px;
  height: fit-content;
  width: fit-content;
  font-size: larger;
}
i:hover {
  transition: transform 0.3s;
  transform: scale(1.2);
}
.nf-fa-google_plus_circle:hover {
  color: #db3236;
}
.nf-md-facebook:hover {
  color: #3b5998;
}
.nf-md-twitter:hover {
  color: #1d9bf0;
}
@media only screen and (max-width: 768px) and (min-width: 480px) {
  .outer-sign-page {
    height: 100vh;
    width: 100%;
    border: none;
    border-radius: 0px;
    margin: 0%;
  }
  .sign-up-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .info {
    width: 84%;
    margin: 0%;
  }
  .login__field {
    width: 100%;
    position: relative;
    left: 15%;
  }
  .login__submit {
    width: 80%;
    position: relative;
    left: 15%;
  }
  .frgtpss {
    position: relative;
    left: 52.5%;
  }
}
@media only screen and (max-width: 480px) {
  .outer-sign-page {
    height: 100%;
    border-radius: 0%;
    border: none;
    box-shadow: none;
    margin: 0%;
    position: relative;
    left: 5%;
  }
  .sign-up-details {
    visibility: collapse;
    width: 0%;
  }
  .sign-up-info {
    width: 100%;
  }
}
