body {
  background: radial-gradient(
      circle at 90vw 50%,
      var(--bg-gradient),
      #0c0c0c,
      transparent 45vw
    ),
    black;
}

main {
  padding: 2em 0 0 0;
  display: flex;
}

hr {
  border-top: 1px solid #d1d5db;
  margin-top: 1rem;
}

.product-card-container {
  border-radius: 0.5rem;
  width: 66.66%;
  margin-right: 1.5rem;
}

.product-card {
  display: flex;
  margin-bottom: 10px;
  border-radius: 0.5rem;
  background: var(--background);
  padding: 1.5rem;
  box-shadow: 0 0 1em black;
}

.product-card img {
  width: 10rem;
  border-radius: 0.5rem;
}
.product-card .text-section {
  margin-left: 1em;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.product-card h2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}
.product-card .price {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}
.product-card .right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-card .quantity {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.product-card .quantity .minus {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  transition-duration: 100ms;
  cursor: pointer;
  background: var(--foreground);
  color: var(--background);
}
.product-card .quantity .minus:hover {
  background: var(--background);
  color: var(--text);
  border: 0.05rem solid var(--foreground);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.product-card .quantity .plus {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  transition-duration: 100ms;
  cursor: pointer;
  background: var(--foreground);
  color: var(--background);
}
.product-card .quantity .plus:hover {
  background: var(--background);
  color: var(--text);
  border: 0.05rem solid var(--foreground);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.product-card .quantity input {
  border-width: 1px;
  outline-style: none;
  width: 2rem;
  height: 2rem;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  color: var(--text);
  font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.product-card .bottom-right-section {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: center;
}
.product-card .bottom-right-section p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-right: 1.5rem;
}

.summary-container {
  width: 33.33%;
}
.summary {
  background: var(--background);
  padding: 1.5rem;
  width: 100%;
  border-radius: 0.5rem;
  border-width: 1px;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.summary .subtotal {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}
.summary .shipping {
  display: flex;
  justify-content: space-between;
}
.summary .below-hr {
  display: flex;
  justify-content: space-between;
}
.summary .total-text {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}
.summary .total-value {
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}
.summary button {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  margin-top: 1.5rem;
  border-radius: 0.375rem;
  width: 100%;
  font-weight: 500;
  background: var(--foreground);
}
.summary button:hover {
  background: var(--background);
  border: 0.05rem solid var(--foreground);
  color: var(--text);
  cursor: pointer;
}

/* Tablet */
@media only screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .product-card-container {
    width: 100%;
  }
  .summary-container {
    width: 100%;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .product-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .product-card img {
    width: 100%;
  }
  .product-card .text-section {
    flex-direction: column;
  }
  .product-card .center-section {
    margin-top: 1.25rem;
  }
  .product-card .right-section {
    display: flex;
    margin-top: 1.25rem;
    justify-content: space-between;
    flex-direction: row;
  }
  .product-card .price {
    margin-top: 0.15rem;
  }
}
